# Cargo build artifacts and cache
target/
*.compiled

# IDE-specific files and directories
/.idea/
/.vscode/

# OS-specific files and directories
.DS_Store
Thumbs.db

#Temporary Cargo.lock because it's unnecessary
Cargo.lock

# Editor temporary files and backups
*.swp
*.swo
*.bak
*.tmp
*~
